

* {
	font-family: "Times New Roman", Georgia, Serif;
}

.title {
	text-transform: uppercase;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	margin-top: 40px;
	color: #0f2b06;
}

.title-two {
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
}

.center {
	margin: 0 auto;
}

/***********************
********** HEADER *******
************************/

.logo {
	margin: 10px 0 15px 0;
}

.orcamento {
	margin-top: 50px;
	margin-bottom: 30px;
}
.orcamento h2 {
	font-size: 30px;
	color: #0f2b06;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -3px;
}

.orcamento .phone {
	background: #dfb70d;
	border-radius: 5px;
	text-align: center;
	padding: 5px 10px 5px 10px;
	font-size: 30px;
	color: #0f2b06;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.orcamento .phone i {
	color: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	margin-right: 15px;
	letter-spacing: 0;
}
/***********************
******* CLOSE HEADER ***
************************/

/***********************
********** NAV *********
************************/

.menu {
	background: #dfb70d;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin: 0;
	border:none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #403f3f;
	font-size: 18px;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav > li > a:hover {
	background-color: #c3a00c;
	color: #fff;
}

/****************************
******** CLOSE NAV **********
****************************/

/****************************
******** SERVICES ***********
****************************/
.services {
	margin-top: 40px;
	margin-bottom: 72px;
}

.services h2 {
	color: #0f2b06;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -3px;
	font-size: 30px;
	margin-bottom: 30px;
}

.services .box {
	cursor: pointer;
	padding-left: 0;
}

.services .box h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -3px;
	padding-bottom: 15px;
	margin-top: 10px;
	color: #0f2b06;
}

.services p {
	text-align: center;
	margin-top: 15px;
}

.services a:hover{
	text-decoration: none;
}
.services .box h3:hover {
	color: #dfb70d;
}

.page-services {
	text-align: center;
}

.page-services .box {
	margin-top: 20px;
	padding-left: 0;
}
.page-services h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #0f2b06;
}

.btn {
	text-transform: capitalize;
}

.single-page-services p {
	font-size: 16px;
	text-align: justify;
}

/****************************
******** CLOSE SERVICES *****
****************************/

/****************************
******** A EMPRESA **********
****************************/

.empresa h2 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
}

.empresa p {
	font-size: 16px;
	text-align: left;
	margin-bottom: 15px;
}

.empresa img {
	margin-top: 60px;
}


/****************************
******** CLOSE A EMPRESA ****
****************************/
/****************************
******** CONTATO ************
****************************/

.form-contato {
	margin-top: 30px;
}

.contato-info p{
	margin-top: 20px;
}

/****************************
******** CLOSE CONTATO ******
****************************/

/****************************
******** FOOTER *************
****************************/
.footer {
	background-color: #202020;
	padding-top: 30px;
	padding-bottom: 10px;
	color: #dfb70d;
	margin-top: 20px;
}

.footer h2 {
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -2px;
	font-weight: bold;
}
.adress {
	text-transform: capitalize;
}
.footer span {	
	font-size: 20px;
	margin: 0;
	letter-spacing: -1px;
}

.footer p {
	font-size: 20px;
	text-transform: capitalize;
	margin-top: 30px;
}

/****************************
******** CLOSE FOOTER *******
****************************/

#links {
	margin-top: 60px;
}
